.page {
  display: flex;
  height: 50em;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "customFont";
  src: url();
}
.cover {
  background-color: white;
  width: 20em;
  height: 30em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 1em 1em gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.userInput {
  width: 16em;
  height: 3em;
}
.passInput {
  width: 16em;
  height: 3em;
}
.loginBtn {
  width: 40%;
  height: 3em;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
}
.loginBtn:hover {
  transform: scale(1.25);
}
input {
  border: none;
  background-color: aliceblue;
  height: 4em;
  border-radius: 0.25em;
  width: 80%;
  text-align: center;
}
input:focus {
  outline-color: blueviolet;
}
.googleIcn:hover {
  transform: scale(1.25);
}
.githubIcn:hover {
  transform: scale(1.25);
}
